extends layout

block content
  h1 = title 网站首页。
  p 需要十分努力的学习： #{title}！
  li 测试一下li样式1
  ul.li.em 测试一下li样式2
  div 测试一下div
  h3.routing Routing
  pre.code 测试高亮框体！！
  a "http://github.com/visionmedia/express/blob/master/examples/route-middleware/app.js"
  <h3 id="route-param pre-conditions">Route Param Pre-conditions</h3>
  <p>测试超级连接： <a href="http://www.extensivepro.com">点击连接进入“泛盈科技官网”</a>！</p>